<nav class="icon-bar">
  <a class="" href="#">Krios Manufacturing</a>
  <div class="" id="navbarNav">
    <ul class="">
      <li class="">
        <a
          class=""
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About Us</a
        >
      </li>
      <li class="">
        <a
          class=""
          [routerLink]="['/careers']"
          routerLinkActive="router-link-active"
          >Careers</a
        >
      </li>
    </ul>
  </div>
</nav>
