@page "/items/{ItemId:int}"
@using KriosManufacturing.Core.Models
@inject HttpClient Http

<PageTitle>Item</PageTitle>

<h1>Item @ItemId</h1>

@if (item == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@item.Sku</p>
    <p>@item.Name</p>
    <p>@item.Description</p>
}

@code {
    [Parameter]
    public int ItemId { get; set; }
    private Item? item;

    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetFromJsonAsync<Item>($"/api/v1/items/{ItemId}");
    }
}
