.icon-bar {
  display: flex;
  background-color: whitesmoke;
  color: black;
  margin: 0px;
  height: 100%;
  width: 220px;
  font-size: small;
}

.icon {
  display: inline-flex;
  vertical-align: middle;
}

span {
  padding-left: 8px;
  display: inline-flex;
  vertical-align: middle;
}

ul {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px;
}

a:hover {
  background-color: gray;
}

@media only screen and (max-width: 500px) {
  .icon-bar {
    visibility: hidden;
  }
}
