<nav class="icon-bar">
  <ul class="">
    <li class="" [routerLink]="['/']" routerLinkActive="router-link-active">
      <a>
        <mat-icon class="icon">home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li class="">
      <a
        class=""
        [routerLink]="['/items']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        <span>Items</span>
      </a>
    </li>
    <li class="">
      <a
        class=""
        [routerLink]="['/locations']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        <span>Locations</span>
      </a>
    </li>
    <li class="">
      <a
        class=""
        [routerLink]="['/inventory-levels']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        <span>Inventory Records</span>
      </a>
    </li>
  </ul>
</nav>
