<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <mat-icon class="icon">menu</mat-icon>
        <span>Krios Manufacturing</span>
    </a>
    <ul>
        @if(!isLoggedIn)
        {
        <li>
            <a class="" [routerLink]="['/login']" routerLinkActive="router-link-active">
                Login
            </a>
        </li>
        <li>
            <a class="" [routerLink]="['/register']" routerLinkActive="router-link-active">
                Register
            </a>
        </li>
        }
        @else {
        <li>{{loggedInUser}}</li>
        <li>
            <button class="" (click)="this.logout()" (keydown)="this.authService.logout()">
                Logout
            </button>
        </li>
        }
    </ul>
</nav>